@model CarEditModel

<h1 class="mt-4">Araç Düzenle</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="CarList" asp-controller="Car">Araç Listesi</a></li>

</ol>
<div class="card mb-4">
    <div class="card-body">
        Araç düzenleme prosedürü için, please visit the
        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
        .
    </div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post" asp-antiforgery="false">
            <div class="mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                <div class="form-group mb-3">
                    <label asp-for="Plate" class="form-label">Plaka Giriniz</label>
                    <input asp-for="Plate" class="form-control  mb-3" placeholder="34xxx000, 06xx111..." />
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Name" class="form-label">Model</label>
                    <input asp-for="Name" class="form-control  mb-3" placeholder="Model giriniz..." />
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="BrandId" class="form-label">Marka</label>
                    <select asp-for="BrandId" class="form-select" asp-items="@Model.Brands">
                        <option value="">Seçiniz</option>
                    </select>
                    <span asp-validation-for="BrandId" class="text-danger small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Year" class="form-label">Yıl</label>
                    <input asp-for="Year" type="number" class="form-control  mb-3" />
                    <span asp-validation-for="Year" class="text-danger small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Category" class="form-label">Araç Sınıfı</label>
                    <input asp-for="Category" class="form-control  mb-3" placeholder="Binek, SUV...." />
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="FuelId" class="form-label">Yakıt</label>
                    <select asp-for="FuelId" class="form-select" asp-items="@Model.Fuels">
                        <option value="">Seçiniz</option>
                    </select>
                    <span asp-validation-for="FuelId" class="text-danger small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="GearboxId" class="form-label">Vites</label>
                    <select asp-for="GearboxId" class="form-select" asp-items="@Model.Gearboxes">
                        <option value="">Seçiniz</option>
                    </select>
                    <span asp-validation-for="GearboxId" class="text-danger small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ColourId" class="form-label">Renk</label>
                    <select asp-for="ColourId" class="form-select" asp-items="@Model.Colours">
                        <option value="">Seçiniz</option>
                    </select>
                    <span asp-validation-for="ColourId" class="text-danger small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Price" class="form-label">Fiyat</label>
                    <input asp-for="Price" type="number" class="form-control  mb-3" />
                    <span asp-validation-for="Price" class="text-danger small"></span>
                </div>


                <div class="form-group mb-3">
                    <label asp-for="Passengers" class="form-label">Yolcu Sayısı</label>
                    <input asp-for="Passengers" class="form-control  mb-3" placeholder="Açıklama giriniz..." />
                    <span asp-validation-for="Passengers" class="text-danger small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="HasDriver" class="form-label">Şoför</label>
                    <input asp-for="HasDriver" class="form-control  mb-3" placeholder="Açıklama giriniz..." />
                    <span asp-validation-for="HasDriver" class="text-danger small"></span>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success mb-3">Kaydet</button>
            </div>
        </form>
    </div>
</div>