@using DenemeRentaCar.Entities;
@model List<Gearbox>

<h1 class="mt-4">Vites Tipleri</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="GearboxCreate" asp-controller="Gearbox">Vite Tipi Ekle</a></li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Vites Tipleri
    </div>

    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Seçenekler</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Seçenekler</th>
                    <th></th>

                </tr>
            </tfoot>
            <tbody>
                @foreach (Gearbox gearbox in Model)
                {
                    <tr>
                        <th> <a asp-action="GearboxEdit" asp-route-gearboxId="@gearbox.Id">@gearbox.Type</a></th>
                        <th>
                            <a asp-action="GearboxDelete" asp-route-gearboxId="@gearbox.Id" class="btn btn-danger btn-sm" onclick="return confirm('Rengi silmek istediğinize emin misiniz?')">Sil</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>