@using DenemeRentaCar.Entities;
@model List<Fuel>

<h1 class="mt-4">Yakıt Türleri</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="FuelCreate" asp-controller="Fuel">Yakıt Türü Ekle</a></li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Renk Türleri
    </div>

    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th></th>

                </tr>
            </tfoot>
            <tbody>
                @foreach (Fuel fuel in Model)
                {
                    <tr>
                        <th> <a asp-action="FuelEdit" asp-route-fuelId="@fuel.Id">@fuel.Name</a></th>
                        <th>
                            <a asp-action="FuelDelete" asp-route-fuelId="@fuel.Id" class="btn btn-danger btn-sm" onclick="return confirm('Yakıt türünü silmek istediğinize emin misiniz?')">Sil</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>